extends layout/layout.pug
block content
  .container
    h1.text-center  #{post.title}
    h2.sub-title.text-center  author: #{post.author}&nbsp;&nbsp;
      span updated: #{post.time.date} #{post.time.time}
    .post-content.center
      | !{post.markedContent}
