mixin category-type(type, name)
  a.post-category(href="/category/" + name, class="post-category-" + type) #{name}

section.post
  header.post-header
    //- img.post-avatar(width="48", height="48", alt="Tilo Mitra&#x27;s avatar", src="/static/img/common/tilo-avatar.png")
    h2.post-title
      a.beauty-link(href="/post/" + post._id) #{post.title}
    p.post-meta
      | By <a href="#" class="post-author">#{post.author}</a> under
      span.posts-list-data-part
        each category in post.categories
          +category-type(category.type, category.name)
        span.posts-list-data-part at #{post.time.date}  #{post.time.time}
  .post-description
    p
      if post.markedContent.length > 255
        = post.markedContent.substr(0, 252).replace(/<(?:.|\n)*?>/gm, '') + '...'
      else
        = post.markedContent.replace(/<(?:.|\n)*?>/gm, '')
